<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 i18n>User List Page</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <button (click)="openModal(content)" mat-button>
      <span i18n>Create User</span>
    </button>
    <br />
    <br />
    <mat-table [dataSource]="(userData$)">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef i18n>Name</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="phone_number">
        <mat-header-cell *matHeaderCellDef i18n>Phone Number</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.phone_number}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef i18n>Type of User</mat-header-cell>
        <mat-cell *matCellDef="let user"> {{user.type}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="visibleColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: visibleColumns"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sign up</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <form (ngSubmit)="onSubmit(userForm)" #userForm="ngForm">
    <div class="modal-body">
      <div class="form-group">
        <label for="type">Type of User</label>
        <select class="custom-select mb-1" name="type" ngModel>
          <option value="grower">Grower</option>
          <option value="warehouse">Warehouse</option>
        </select>

        <div *ngIf="userForm.value.type == 'grower'">
          <label for="name">Name</label>
          <div class="input-group mb-1">
            <input id="name" class="form-control" name="name" ngModel>
          </div>
          <label for="address">Address</label>
          <div class="input-group mb-1">
            <input id="address" class="form-control" name="address" ngModel>
          </div>
          <label for="phone_number">Phone Number</label>
          <div class="input-group mb-1">
            <input id="phone_number" class="form-control" name="phone_number" ngModel>
          </div>
          <label for="gender">Gender</label>
          <div class="input-group mb-1">
            <input id="gender" class="form-control" name="gender" ngModel>
          </div>
          <label for="batches_handled">Batches Handled</label>
          <div class="input-group mb-1">
            <input id="batches_handled" class="form-control" name="batches_handled" ngModel>
          </div>
          <label for="yield_acquired">Yield Acquired (kg)</label>
          <div class="input-group mb-1">
            <input id="yield_acquired" type="number" class="form-control" name="yield_acquired" ngModel>
          </div>
          <label for="greenhouse_locations">Greenhouse Locations</label>
          <select class="custom-select mb-1" name="greenhouse_locations" ngModel>
            <option value="brazil">Brazil</option>
            <option value="canada">Canada</option>
          </select>
        </div>

        <div *ngIf="userForm.value.type == 'warehouse'">
          <label for="name">Name</label>
          <div class="input-group mb-1">
            <input id="name" class="form-control" name="name" ngModel>
          </div>
          <label for="address">Address</label>
          <div class="input-group mb-1">
            <input id="address" class="form-control" name="address" ngModel>
          </div>
          <label for="phone_number">Phone Number</label>
          <div class="input-group mb-1">
            <input id="phone_number" class="form-control" name="phone_number" ngModel>
          </div>
          <label for="gender">Gender</label>
          <div class="input-group mb-1">
            <input id="gender" class="form-control" name="gender" ngModel>
          </div>
          <label for="years_of_experience">Years of Experience</label>
          <div class="input-group mb-1">
            <input id="years_of_experience" class="form-control" name="years_of_experience" ngModel>
          </div>
          <label for="educational_qualification">Educational Qualification</label>
          <div class="input-group mb-1">
            <input id="educational_qualification" class="form-control" name="educational_qualification" ngModel>
          </div>
          <label for="inventory_management_certification">Inventory Management Certification</label>
          <div class="radio-inline">
            <input class="mr-1" id="gender" type="radio" name="inventory_management_certification" ngModel
              value="yes" />
            <label class="radio-label mr-2">Yes</label>
            <input class="mr-1" id="gender" type="radio" name="inventory_management_certification" ngModel value="no" />
            <label class="radio-label">No</label>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-dark">Submit</button>
    </div>
  </form>
</ng-template>
