<a class="p-4" routerLink="/" routerLinkActive="active">Go to Index</a>
<div class="p-4">
  <label for="type">Type of User</label>
  <div class="input-group mb-1">
    <input id="type" class="form-control" name="type" [ngModel]="newUserObject.type" readonly>
  </div>
</div>
<div class="p-4">
  <label for="name">Name</label>
  <div class="input-group mb-1">
    <input id="name" class="form-control" name="name" [ngModel]="newUserObject.name" readonly>
  </div>
</div>
<div class="p-4">
  <label for="address">Address</label>
  <div class="input-group mb-1">
    <input id="address" class="form-control" name="address" [ngModel]="newUserObject.address" readonly>
  </div>
</div>
<div class="p-4">
  <label for="phone_number">Phone Number</label>
  <div class="input-group mb-1">
    <input id="phone_number" class="form-control" name="phone_number" [ngModel]="newUserObject.phone_number" readonly>
  </div>
</div>
<div class="p-4">
  <label for="gender">Gender</label>
  <div class="input-group mb-1">
    <input id="gender" class="form-control" name="gender" [ngModel]="newUserObject.gender" readonly>
  </div>
</div>

<div *ngIf="newUserObject.type == 'grower'">
  <div class="p-4">
    <label for="batches_handled">Batches Handled</label>
    <div class="input-group mb-1">
      <input id="batches_handled" class="form-control" name="batches_handled" [ngModel]="newUserObject.batches_handled"
        readonly>
    </div>
  </div>
  <div class="p-4">
    <label for="yield_acquired">Yield Acquired (kg)</label>
    <div class="input-group mb-1">
      <input id="yield_acquired" class="form-control" name="yield_acquired" [ngModel]="newUserObject.yield_acquired"
        readonly>
    </div>
  </div>
  <div class="p-4">
    <label for="greenhouse_locations">Greenhouse Locations</label>
    <div class="input-group mb-1">
      <input id="greenhouse_locations" class="form-control" name="greenhouse_locations"
        [ngModel]="newUserObject.greenhouse_locations" readonly>
    </div>
  </div>
</div>

<div *ngIf="newUserObject.type == 'warehouse'">
  <div class="p-4">
    <label for="years_of_experience">Years of Experience</label>
    <div class="input-group mb-1">
      <input id="years_of_experience" class="form-control" name="years_of_experience"
        [ngModel]="newUserObject.years_of_experience" readonly>
    </div>
  </div>
  <div class="p-4">
    <label for="educational_qualification">Educational Qualification</label>
    <div class="input-group mb-1">
      <input id="educational_qualification" class="form-control" name="educational_qualification"
        [ngModel]="newUserObject.educational_qualification" readonly>
    </div>
  </div>
  <div class="p-4">
    <label for="inventory_management_certification">Inventory Management Certification</label>
    <div class="input-group mb-1">
      <input id="inventory_management_certification" class="form-control" name="inventory_management_certification"
        [ngModel]="newUserObject.inventory_management_certification" readonly>
    </div>
  </div>
</div>
